.bigScreenHidden{
display: none;}
.appshellNavbar {
  position: relative;
}
.headerDiv{
  display: flex;
}
.collapseIcon {
  position: absolute;
  right: -15px;
  top: 50px;
}
.logo {
  height: 46px;
}
.mainHeader {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}
.menuItem {
  display: flex;
  align-items: center;
  gap: 14px;
  height: 56px;
}

.navbarIconDiv {
  display: flex;
  align-items: center;
  text-align: center;
  height: 56px;
}
.menuText {
  font-size: 20px;
  font-weight: 400;
}

.customTitle {
  font-size: 40px;
  font-weight: bold;
  color: black;
}
.details {
  display: flex;
  justify-content: start;
  gap: 32px;
  margin: 5px 10px;
}
.detailsContent{
  width: 72%;
}
.detailsContent p{
  font-weight: 500;
  margin: 14px 0;
  text-wrap: wrap;
}
.detailDiv{
  display: flex;
  align-items: center;
  gap: 10px;
}
.directors{
  max-height: 100px; 
  overflow-y:hidden; 
  word-wrap: break-word;
}
.flexDivDetails{
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
}
.formButtonsDiv{
  display: flex;
  gap: 14px;
  justify-content: end;
  margin-top: 14px;;
}
.arrayDiv{
display: flex;
gap: 10px;
flex-wrap: wrap;
}
.providerLogo {
  height: 50px;
  border-radius: 15px;
}
.spaceBetweenDiv{
  display: flex;
  justify-content: space-between;
align-items: center;
padding: 10px 0;
}

.carousel-img:hover {
  cursor: pointer;
}

.mantine-Carousel-slide {
  /*border: 1px solid blue;*/
  max-width: 300px;
  background-color: rgb(50, 50, 50);
}

.mantine-Carousel-viewport {
  box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(0, 0, 0, 0.15), -9px -9px 15px rgba(0, 0, 0, 0.1),
    3px 3px 5px rgba(0, 0, 0, 0.2), 6px 6px 10px rgba(0, 0, 0, 0.15),
    9px 9px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 2rem;
}
.warnButtons {
  display:flex;
  justify-content: end;
  gap: 14px;
}
.notesFormButton{
  display: flex;
  justify-content: end;
  margin: 14px 0;
  gap: 20px;
}
.notesButtonsDiv{
display: flex;
gap: 14px;
margin: 14px 0;
}
.notesInput{
  height: 80%;
}
.note{
  margin-bottom: 14px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;
  width: 50%;
  border: 1px solid #f1580c;
  border-radius: 15px;
  padding: 10px;
  height: 34px;
}
.notesHeader{margin: 14px 0}
.cardContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
.ratingsDiv{
  position: absolute;
  top: -60px;
}
.cardTextDiv{
  height: 64px;
}

.cardText {
  font-size: 18px;
}
.detailsTitle {
  margin: 0;
}


/* added by th */

.suggestion-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.suggestion-card {
  width: 50%;
  margin: 2rem;
  padding: 1rem;
  border-radius: 15px;
}

.suggestion-img {
  border-radius: 15px;
}

.suggest-btn-div {
  margin-top: 1rem;
}

.suggest-paper {
  width: fit-content;
  border-radius: 15px;
}

.suggest-paper-wrapper {
  display: flex;
  justify-content: center;
}

.suggest-h {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #252525
}

.suggest-card-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.suggest-card-descr {
  max-height: 150px;
  overflow-y: auto;
}

.suggest-card-section {
  width: 50%;
}

.error-text {
  margin-top: 0.5rem;
}

.search-term {
  font-weight: bold;
  font-style: italic;
}

.about-h, .team-h {
  text-align: center;
  color: #F5793B
}

.about-project-wrapper {
  display: flex;
  justify-content: center;
}

.about-team, .about-project {
  border-radius: 15px;
}

.about-project {
  width: 50%;
}

.about-team-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 1.5rem 0;
}

.about-team {
  width: 400px;
  height: 500px;
  overflow-y: auto;
  margin-bottom: 2rem;
}

.team-name {
  margin: 1rem 0;
  font-weight: bold;
  color: #252525;
}

.team-icon-div {
  display: flex;
  justify-content: center;
}

.about-ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.about-ul-h {
  color: #F5793B;
  margin: 0.5rem 0;
}

.footer-link {
  color: #f1580c;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  display: inline;
}

.footer-link-wrapper {
  display: flex;
  justify-content: center;
}

.mantine-AppShell-footer {
  position: static;
}

.form-grid {
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .suggestion-card {
    width: 100%;
    margin: 1rem 0;
  }

  .suggest-card-top {
    gap: 0.5rem;
    align-items: flex-end;
  }

  .suggest-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .about-project {
    width: 100%;
  }

  .about-team {
    width: 100%;
    height: 300px;
    margin-bottom: 0.5rem;
  }

  .about-team-wrapper {
    display: block;
  }

  .mobileHidden{
    display:none
  }
  .mobileDisplay{
    display: block;
  }
}

