/*

red for buttons: rgba(194, 58, 58, 1)
bg brown: rgb(158, 129, 112)
lighter black: rgb(50, 50, 50)

*/


.customTitle {
  font-size: 40px;
  font-weight: bold;
  color: black;
}
.details {
  display: flex;
}
.providerLogo {
  height: 50px;
}

.add-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.carousel-img {
  height: 100%;
  width: 100%;
}

.carousel-img:hover {
  cursor: pointer;
}

.mantine-Carousel-slide {
  /*border: 1px solid blue;*/
  max-width: 300px;
  background-color: rgb(50, 50, 50);
}

.mantine-Carousel-viewport {
  box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.2), 
              -6px -6px 10px rgba(0, 0, 0, 0.15),
              -9px -9px 15px rgba(0, 0, 0, 0.1),
              3px 3px 5px rgba(0, 0, 0, 0.2),
              6px 6px 10px rgba(0, 0, 0, 0.15),
              9px 9px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 2rem;
}






/*idea for colors*/

/*
.mantine-AppShell-main {
  background-color: rgb(158, 129, 112);
}

.mantine-AppShell-header, .mantine-AppShell-navbar, .mantine-AppShell-footer {
  background-color: rgb(218, 207, 207)
}

h1 {
  color: rgb(218, 207, 207)
}

*/